<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :contact %>
  <%= form.text_field :contact %>

  <%= form.label :category_id %>
  <%= form.select :category_id, Category.all.collect {|c| [ c.name, c.id ] } %>

  <%= form.label :city_id %>
  <%= form.select :city_id, City.all.collect {|c| [ c.name, c.id ] } %>

  <%= form.label :genre_id %>
  <%= form.select :genre_id, Genre.all.collect {|c| [ c.name, c.id ] } %>

  <%= form.label :instrument_id %>
  
  <% Instrument.all.each do |instrument| %>
    <%= check_box_tag "post[instrument_id][]", instrument.name, @post.instrument_id.include?(instrument.name), id: dom_id(instrument)  %>
    <%= label_tag dom_id(instrument), instrument.name %>
  <% end %>

  <%= form.label :title %>
  <%= form.text_field :title %>


  <%= form.label :content %>
  <%= form.text_area :content %>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
