
<a href="#">Reply</a>
<div class="float-right">
  <% if current_account && current_account == @post.account %>
    <%= link_to 'Edit', edit_post_path(@post) %>
  <% end %>
</div>
<span class="posted-id">Posted <%= time_ago_in_words @post.created_at %> ago </span>


<h1> <%= @post.title %></h1>
<%= simple_format @post.content %>

<p class="post-meta">
  <span class="post-id">Post id: <%= @post.id.to_s %></span>
  <span class="posted-id">Posted <%= time_ago_in_words @post.created_at %> ago </span>
</p>