
<a href="#">Reply</a>
<div class="float-right">
  <% if current_account && current_account == @post.account %>
    <%= link_to 'Edit', edit_post_path(@post) %>
  <% end %>
</div>
<span class="posted-id">Posted <%= time_ago_in_words @post.created_at %> ago </span>
  <br><br>

<h1> <%= @post.title %></h1>
<h3> City : <%= @post.city.name %></h3>
<h3> Genre : <%= @post.genre.name %></h3>

<h3> Looking for/Interesed in playing : 
  <% @post.instrument_id.each do |instrument| %>
    <%= instrument %> 
  <% end %>
</h3>

<br>

<%= simple_format @post.content %>

<br><br>

<p class="post-meta">
  <span class="post-id">Post id: <%= @post.id.to_s %></span>
</p>