<div class="inner">

  <% if account_signed_in? %>
  <%= link_to "Sign Out", destroy_account_session_path, method: :delete,class:"pull-right m-l-10" %>
  <%= link_to "My Account", account_path(current_account), class: "pull-right" %> 
  <% else %>
  <%= link_to "Sign In", new_account_session_path, class: "pull-right m-l-10" %> 
  <% end %>
  

  <% if @post.present? && !@post.new_record?
    category = @post.category %>
    <%= link_to "Home", root_path %> 
    >> <%= link_to category.name, category_path(category) %> >>
    <%= @post.title %>
  <% end %>

  <% if controller.controller_name == "categories" %>
    <%= link_to "Home", root_path %> 
    >>  <%= render "categories/category_sidebar" %>
  <% end %>

  <% if controller.controller_name == "accounts" %>
    <%= link_to "Home", root_path %> 
    >>  <%=  'My Account' %>
  <% end %>
  
  
  
</div>
