<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mxtx</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'master', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render "layouts/breadcrumb_nav" %>
    </header>

    <div class="container text-center">
      <p class="notice"><%= notice %></p>
    </div>

    <div class="main container">
      <div class="main-left card-body">
              <div class="card">
              <p><%= link_to "MXTX", root_path %></p>

              <%= link_to "Create new post",new_post_path %>

              <br>
              <br>

              <h2> Serch Posts </h2>

              <%= search_form_for @search do |f| %>
                <%= f.label :title_or_content_cont, "keyword" %>
                <%= f.text_field :title_or_content_cont %>
                <br>
                <br>

                <%= f.label :category_id_eq, "Looking for:"  %>
                <%= f.select :category_id_eq, Category.all.collect {|c| [ c.name, c.id ] }, include_blank: true %>
                <br>
                <br>

                <%= f.label :genre_id_eq, "Genre"  %>
                <%= f.select :genre_id_eq, Genre.all.collect {|c| [ c.name, c.id ] }, include_blank: true %>
                <br>
                <br>

                <%= f.label :city_id_eq, "City"  %>
                <%= f.select :city_id_eq, City.all.collect {|c| [ c.name, c.id ] }, include_blank: true %>
                <br>

                <br>
                <%= f.submit "Search" %>
              <% end %>
              </div>
      </div>
      <div class="main-right">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
