<!DOCTYPE html>
<html>
  <head>
    <title>Mxtx</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="body">
      <div class="main-left">
      </div>
      <div class="main=right">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
