<!DOCTYPE html>
<html>
  <head>
    <title>Mxtx</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <div class="main">
      <div class="main-left">
        <p><%= link_to "MXTX", root_path %></p>

        <%= render "categories/category_sidebar" if controller.controller_name == "categories" %>

        <%= link_to "Create new post",new_post_path if controller.controller_name =="public" %>
      </div>
      <div class="main-right">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
