<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mxtx</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'master', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render "layouts/breadcrumb_nav" %>
    </header>

    <div class="container text-center">
      <p class="notice main"><%= notice %></p>
    </div>

    <div class="main container">
      <div class="card  bg-dark main-left text-light">
        <div class="card-body">
          <p><%= link_to "MXTX", root_path %></p>

          <%= link_to "Create new post",new_post_path,class: 'btn btn-danger' %>

          <br>
          <br>

          <h2> Search Posts </h2>
          <%= search_form_for @search do |f| %>

          <div class="form">
            <div class="form-group">
              <label> Keyword :</label>
              <input type="keyword" class="form-control" id=<%= f.text_field :title_or_content_cont %> 
            </div>

            <div class="form-group">
              <label>Looking For :</label>
              <select class="form-control" id=<%= f.select :category_id_eq, Category.all.collect {|c| [ c.name, c.id ] },{:include_blank => 'Any'}%>
              </select>
            </div>


            <div class="form-group">
              <label>Genre :</label>
              <select class="form-control" id=<%= f.select :genre_id_eq, Genre.all.collect {|c| [ c.name, c.id ] },{:include_blank => 'Any'} %>
              </select>
            </div>

            <div class="form-group">
              <label>Instrument :</label>
              <select class="form-control" id=<%= f.select :instrument_id_eq, Instrument.all.collect {|c| [ c.name, c.id ] },{:include_blank => 'Any'} %>
              </select>
            </div>
            
            <div class="form-group">
              <label>City :</label>
              <select class="form-control" id=<%= f.select :city_id_eq, City.all.collect {|c| [ c.name, c.id ] },{:include_blank => 'Any'} %>
              </select>
            </div>

            <br>
            <%= f.submit "Search",class: 'btn btn-danger' %>
            <% end %>
            
          </div>
        </div>
      </div>

      <div class="main-right">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
