<div class="col">
  <div class="card  bg-dark  text-light">
    <div class="card-body">
      <h1>Account Dashboard</h1>
      <br />
      <h2><%= @account.email %></h2>
      <h5>Member Since: <%= @account.created_at.strftime("%B %d, %Y") %></h5>
      <h4><%= @account.posts.count %> total Posts</h4>
      <br>

      <%= link_to 'Delete Account', account_path(@account), method: :delete, data: {confirm: 'Are you sure you want to delete your account? All of your posts will be removed as well.'},class: 'btn btn-danger btn-block' %>
         

      <br>
    </div>
  </div>
</div>
<br>

<% if @account.admin == true %>
  <div class="col">
    <div class="card  bg-dark  text-light">
      <div class="card-body">
        <h2>Flagged Posts :</h2>

        <% @account.posts.each do |post| %>
          <% if post.flag == true %>
            <div class="category-post">
              <span class="post-title"><%= link_to post.title, post_path(post) %></span>
              <span class="post-date"><%= time_ago_in_words post.created_at %></span>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<br>

<div class="col">
  <div class="card  bg-dark  text-light">
    <div class="card-body">
      <h2>My Posts :</h2>

      <% @account.posts.each do |post| %>
        <div class="category-post">
          <span class="post-title"><%= link_to post.title, post_path(post) %></span>
          <span class="post-date"><%= time_ago_in_words post.created_at %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
